{% extends "layout.html" %}
{% block title %}ВДрузья | Новый пароль{% endblock %}
{% block sidebar %}
<div id="sidebar">
    <ol id="nav">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'login' %}">Вход</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
    </ol>
    <div id="ssponsor"></div>
</div>
{% endblock %}

{% block pagebody %}
<div id="pagebody">
    <div id="header"><h1>Новый пароль</h1></div>
    <div id="content">
        {% include "partials/flash.html" %}
        {% if validlink %}
        <form method="post">{% csrf_token %}
            <div id="loginform">
                <p>Введите новый пароль дважды.</p>
                <table class="formtable" border="0" cellspacing="0">
                    <tr>
                        <td class="label">Пароль:</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td class="label">Ещё раз:</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </table>
                {% if form.errors %}<div id="error">{{ form.errors }}</div>{% endif %}
                <div class="formbuttons">
                    <input type="submit" class="inputsubmit" value="Сохранить">
                </div>
            </div>
        </form>
        {% else %}
        <div id="error"><p>Ссылка недействительна или устарела. Запросите сброс пароля снова.</p></div>
        {% endif %}
    </div>
    {% include "partials/footer.html" %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
