{% extends "layout.html" %}
{% block title %}ВДрузья | Сброс пароля{% endblock %}
{% block sidebar %}
<div id="sidebar">
    <ol id="nav">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'login' %}">Вход</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
    </ol>
    <div id="ssponsor"></div>
</div>
{% endblock %}

{% block pagebody %}
<div id="pagebody">
    <div id="header"><h1>Сброс пароля</h1></div>
    <div id="content">
        <form method="post">{% csrf_token %}
            <div id="loginform">
                <p>Укажите e-mail аккаунта. Мы отправим на него ссылку для задания нового пароля.</p>
                <table class="formtable" border="0" cellspacing="0">
                    <tr>
                        <td class="label">E-mail:</td>
                        <td><input type="text" id="id_email" class="inputtext" name="email" size="30" required value="{{ form.email.value|default:'' }}"></td>
                    </tr>
                </table>
                {% if form.email.errors %}<div id="error">{{ form.email.errors }}</div>{% endif %}
                <div class="formbuttons">
                    <input type="submit" class="inputsubmit" value="Сбросить">
                    <input type="button" class="inputbutton" value="К входу" onclick="location='{% url 'login' %}'">
                </div>
            </div>
        </form>
    </div>
    {% include "partials/footer.html" %}
</div>
{% endblock %}
{% block footer %}{% endblock %}
