{% extends "social/apps/canvas_base.html" %}
{% block canvas_body %}
<div class="profile-box">
    <h4>Погода</h4>
    <div class="profile-box-body">
        <form method="post">{% csrf_token %}
            <table class="formtable" cellspacing="0">
                <tr>
                    <td class="label">Город:</td>
                    <td>
                        <input class="inputtext input-wide" name="city" value="{{ city }}" maxlength="80">
                        <input type="submit" class="inputsubmit" value="Узнать">
                    </td>
                </tr>
            </table>
        </form>
        {% if forecast %}
        <p><b>{{ forecast.city }}</b>: {{ forecast.temp }}°C, {{ forecast.sky }}, ветер {{ forecast.wind }} м/с</p>
        <p class="muted">{{ forecast.hint }}</p>
        {% endif %}
        <p class="muted">Разработчик: ВДрузья</p>
    </div>
</div>
{% endblock %}
