{% load static %}
{# FB Timeline cover (~2011): full-bleed photo, shade, hanging avatar, name on banner. #}
<div class="tl-cover{% if not profile.cover_url %} is-empty{% endif %}">
    <div class="tl-cover-photo"{% if profile.cover_url %} style="background-image:url('{{ profile.cover_url }}')"{% endif %}></div>
    <div class="tl-cover-shade" aria-hidden="true"></div>
    {% if is_own %}
    <a class="tl-cover-btn" href="{% url 'profile.edit' %}?section=picture">{% if profile.cover_url %}Сменить обложку{% else %}Добавить обложку{% endif %}</a>
    {% endif %}
    <div class="tl-cover-foot">
        <a class="tl-avatar" href="{% if is_own %}{% url 'profile.edit' %}?section=picture{% else %}?tab=photos{% endif %}" title="{% if is_own %}Изменить фото{% else %}Фото{% endif %}">
            <img src="{% if profile.avatar_url %}{{ profile.avatar_url }}{% else %}{% static 'img/nophoto.gif' %}{% endif %}" alt="" width="128" height="128">
        </a>
        <div class="tl-who">
            <h1>{{ profile.name }}</h1>
            {% if profile.city %}
            <p class="tl-sub">{{ profile.city }}{% if profile.country %}, {{ profile.country }}{% endif %}</p>
            {% elif networks %}
            <p class="tl-sub">{{ networks.0.label }}</p>
            {% endif %}
        </div>
    </div>
</div>
