<div class="profile-box">
    <h4>Контактная информация</h4>
    <div class="profile-box-body">
        <table class="formtable editor" cellpadding="0" cellspacing="0">
            <tr><td class="label">Сайт:</td><td>{{ form.website }}</td></tr>
            <tr><td class="label">Имя в сети:</td><td>{{ form.telegram_username }}
                <div class="file-hint muted">как AIM / ICQ screen name</div>
            </td></tr>
            <tr><td class="label">Телефон:</td><td>{{ form.phone }} · <label class="inline">{{ form.show_phone }} показывать</label></td></tr>
            <tr><td class="label">Email:</td><td><label class="inline">{{ form.show_email }} показывать ({{ me.user.email }})</label></td></tr>
        </table>
    </div>
</div>
